html {
	font-family: sans-serif;
	/* font-size: 9pt; */
	line-height: 1.5;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

#main{
	display: flex;
	flex-direction: column;
	background-color: darkgray;
	width: 100%;
	height: 100%;
	justify-content: center;
}

#FileSection{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 95%;
	/* height:100px; */
	margin:20px auto 10px;
	background-color: lightblue;
}

#FileSection form{
	flex-basis: 500px;
	display: flex;
	padding: 10px;
}

.file-section-stack{
	display: flex;	
	flex-wrap: nowrap;
}

#FileForm{
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}

#ClearButton{
	width: 80px;
	height: 22px;
	text-align: center;
}
#FileForm label{
	padding: 8px;
}

#ButtonForm {
	justify-content: space-around;
	flex-wrap: wrap;
}

#ButtonForm button{
	/* width: 150px; */
	/* height: 100%; */
	/* background: rgba(197, 204, 211, 0.8); */
	padding: 15px 20px;
	align-self: center;
}

#FileInfo, #UndoNotify{
	font-size: 9pt;
	margin:0;
	padding: 8px 0;
	text-align: center;
	width: 300px;
	flex-grow: 1;

}

/* #ButtonSection button:hover{
	background: rgba(75, 100, 124, 0.5);
} */

#SaveButton{
	margin-left: 25px;
}
#SheetContainer {
	justify-content: center;
	background-color: lightgrey;
	width: 95%;
	/*height: 80%;*/
	flex-grow: 1;
	overflow: hidden;
	margin: 10px auto 20px;

}

#hot-display-license-info {
	display: none;
}

.modal{
	position: fixed;
	z-index: 200;
	left:0;
	top: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;

}

#ScanModal{
	display: none;
}

.modal-content{
	font-size: 10pt;
	background: rgb(235, 235, 235);
	margin: auto;
	padding: 20px;
	width: 80%;
	box-shadow: 0 5px 8px 0  rgba(0,0,0,0.4), 0 7px 20px 0  rgba(0,0,0,0.4);
	
}
.close-btn{
	float: right;
	font-size: 30px;
	color: rgb(150, 150, 150);
	line-height: 1;
	justify-content: center;
	padding: 0 6px;
}

.close-btn:hover, .close-btn:focus{
	color:black;
	text-decoration: none;
	cursor: pointer;
}

#ScanForm{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.form-row{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-content: center;
	justify-content: flex-start;
	padding:7px;
	flex-wrap: wrap;
	width: auto;
}
.form-stack{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0 8px;
}


#ScanEntryStack{
	flex-basis: 40%;
}
#ScanSubmit{
	height: 60px;
	width:100px;
}
#ScanInfo{
	font-size: 8pt;
}
.stack-1{
	width: 60px;
	flex-grow: 1;
}
.stack-2{
	width: 120px;
	flex-grow: 2;
}
.stack-3{
	width: 180px;
	flex-grow: 3;
}
.stack-4{
	width: 240px;
	flex-grow: 4;
}
.stack-5{
	width: 300px;
	flex-grow: 5;
}
.stack-6{
	width: 360px;
	flex-grow: 6;
}

#ScanExpectedCount{
	background-color: palegoldenrod;
}
#ScanCurrentCount{
	background-color: palegreen;
}
/* Every even row */
.ht_master tbody tr:nth-of-type(even) td {
  background-color: hsl(199, 100%, 95%);
}